// Place all the styles related to the CronJobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.expired {
  color: red;
}

.ready, .active {
  color: green;
}