<!DOCTYPE html>
<html>
<head>
  <title>TheCronic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p>
	<a href="/jobs/">Jobs</a> <a href="/notifications/">Notifications</a>
</p>

</body>
</html>
